.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  gap: 20px;

}

.navbar ul.open {
  display: block;
    
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    text-align: right;
  }

  .navbar ul.open {
    display: flex;
  }
}